---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="p-10">
		<div class="flex flex-row min-h-screen justify-center items-center">
			<div>
				<a href="https://support.impressdesigns.com">Get support</a><br>
				<a href="https://impressdesigns.github.io/integration-docs">See integration docs</a><br>
				<a href="https://core.impressdesigns.com">Get connected to our API</a><br>
			</div>
			<div class="flex-auto">
				<img
					src="https://idiwebassets.blob.core.windows.net/$web/full-logo-blue.svg"
					alt="Company logo."
					height="2"
				/>
			</div>
		</div>
		<script
			is:inline
			src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"
		></script>
	</body>
</html>
