---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Impress Designs</title>
	</head>
	<body style="padding: 2.5rem;">
		<div
			style="display: flex; flex-direction: column; align-items: center;"
		>
			<div>
				<img
					src="https://idiwebassets.blob.core.windows.net/$web/full-logo-blue.svg"
					alt="Company logo."
					width="500"
				/>
			</div>
			<div>
				<a href="https://support.impressdesigns.com">Get support</a>
			</div>
			<div>
				<a href="https://impressdesigns.github.io/integration-docs"
					>See integration docs</a
				>
			</div>
			<div>
				<a href="https://core.impressdesigns.com"
					>Get connected to our API</a
				>
			</div>
		</div>
	</body>
</html>
