---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="p-10">
		<div class="flex flex-col justify-center items-center h-dvh">
			<div>
				<img
					src="https://idiwebassets.blob.core.windows.net/$web/full-logo-blue.svg"
					alt="Company logo."
					width="500"
				/>
			</div>
			<div class="grid grid-cols-2 gap-4 place-content-center pt-5">
				<div>
					<a href="https://support.impressdesigns.com">Get support</a>
				</div>
				<div>
					<a href="https://impressdesigns.github.io/integration-docs"
						>See integration docs</a
					>
				</div>
				<div>
					<a href="https://core.impressdesigns.com"
						>Get connected to our API</a
					>
				</div>
			</div>
		</div>
		<script
			is:inline
			src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"
		></script>
	</body>
</html>
